<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title> Scholar Nurture Bootcamp</title>
    <link rel="stylesheet" href="/assets/style.css">
    </head>
    <body>

      <div class="welcome">
        <h2>Welcome to Scholar Nurture IT Boot Camp</h2>
      </div>

        <div class="login-box">
          <h2>Register</h2>
          <form method="POST" action="/form">

            <div class="user-box">
              <input type="text" name="firstname" value = '<%= qs.firstname%>' required="">
              <label for="firstname">First Name</label>
            </div>

            <div class="user-box">
              <input type="text" name="lastname" value = '<%= qs.lastname %>' required="">
              <label for="lastname">Last Name</label>
            </div>

            <div class="user-box">
              <input type="password" name="" required="">
              <label for="password">Password</label>
            </div>

            <div class="user-box">
              <input type="email" name="" required="">
              <label for="email">Email</label>
            </div>
            
            <button>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
            </button>
          </form>
        </div>
    </body>
    </html>