<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success Page</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <div class="success">
        <h1>Registration successful</h1>
        <p><%= data.firstname %> you are welcome to Scholar Nurture Bootcamp</p>
    </div>
</body>
</html>